*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#outter-box{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;

}

#inner-box{
    width: 320px;
    height: 400px;
    display: flex;
    transform: translateY(-10%);
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    background-color:skyblue;
    box-shadow: 4px 4px 4px black; 
}
form p input,textarea{
    margin: 8px;
    padding: 5px;
    border-radius: 10px;
    border-style: none;

}

.main p label{
    display: block;
    margin-top: 3px;
}
.head header p{
    margin-bottom: 15px;
    color: rgb(73, 84, 84);
}
#btn{
    margin: 10px;
    padding: 6px;
    border-radius: 10px;
    border-style: none;
    background-color: rgb(235, 44, 10);
    font-size: .9rem;
}

#btn:hover{
    background-color: darkred;
}

input:hover{
    background-color: rgb(210, 221, 231);
}
